<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="hp" class="com.ib.beans.HPPrinter" />
	<bean id="atm" class="com.ib.beans.ATM">
		<property name="printer" ref="hp" />
	</bean>

</beans>
