<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="cp" class="com.bfpp.beans.ConnectionProvider">
		<property name="driverCls" value="${driver}" />
		<property name="pwd" value="${pwd}" />
		<property name="uname" value="${uname}" />
		<property name="url" value="${url}" />
	</bean>
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- <property name="location" value="classpath:DBConfig.properties" /> -->
		<property name="locations">
			<list>
				<value>DBConfig.properties</value>
				<value>JavaMail.properties</value>
				<value>log4j.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
	</bean>
</beans>
