<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="ef" class="com.mr.beans.EligibilityFinder">
		<replaced-method name="findEligibility" replacer="efr">
			<arg-type>java.lang.String</arg-type>
		</replaced-method>
	</bean>

	<bean id="efr" class="com.mr.beans.EligFinderReplacer" />
</beans>
