<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="p" class="com.ba.beans.PersonInfo">
		<property name="email" value="ashok@in.com" />
		<property name="phno" value="79797979" />
		<property name="name" value="Ashok" />
	</bean>

	<bean id="o" class="com.ba.beans.OrderInfo">
		<property name="orderId" value="OD686868" />
		<property name="price" value="15000.00" />
		<property name="itemNames" value="Mouse,Keyboard" />
	</bean>

	<bean id="a" class="com.ba.beans.AddressInfo">
		<property name="addrLine1" value="Sr Nagr" />
		<property name="city" value="Hyd" />
		<property name="zip" value="6005" />
	</bean>

	<bean id="bluedart" class="com.ba.beans.BlueDartDeliverService" />
	<bean id="dtdc" class="com.ba.beans.DTDCDeliverService" />

	<bean id="om" class="com.ba.beans.OrderManager">
		<property name="ainfo" ref="a" />
		<property name="oinfo" ref="o" />
		<property name="pinfo" ref="p" />
	</bean>
</beans>
